registry=http://tfs-srv:8080/tfs/TNC_ITC/xeye/_packaging/test-design/npm/registry/                         
always-auth=true
//tfs-srv:8080/tfs/TNC_ITC/_packaging/formeo%40Local/npm/registry/:username=TNC_ITC
//tfs-srv:8080/tfs/TNC_ITC/_packaging/formeo%40Local/npm/registry/:_password=dmhlcmFrem1jN2lhYjdldDZzaDZybHl1eDJ5M3RpZ2ZlNXh5c3Y0NmYzcjVsdDZnc241YQ==
//tfs-srv:8080/tfs/TNC_ITC/_packaging/formeo%40Local/npm/registry/:email=npm requires email to be set but doesn't use the value
//tfs-srv:8080/tfs/TNC_ITC/_packaging/formeo%40Local/npm/:username=TNC_ITC
//tfs-srv:8080/tfs/TNC_ITC/_packaging/formeo%40Local/npm/:_password=dmhlcmFrem1jN2lhYjdldDZzaDZybHl1eDJ5M3RpZ2ZlNXh5c3Y0NmYzcjVsdDZnc241YQ==
//tfs-srv:8080/tfs/TNC_ITC/_packaging/formeo%40Local/npm/:email=npm requires email to be set but doesn't use the value
