# # registry=http://tfs-srv:8080/tfs/TNC_ITC/xeye/_packaging/test-design/npm/registry/       
# # always-auth=true
# # ; begin auth token
# # //tfs-srv:8080/tfs/TNC_ITC/xeye/_packaging/test-design/npm/registry/:username=TNC_ITC
# # //tfs-srv:8080/tfs/TNC_ITC/xeye/_packaging/test-design/npm/registry/:_password=N2hqZW10dG0ycDJxZ3JmNHd3cHRkMjc1b2hlNWN2eDRxbXJvNzZsYnRmcGp4cWxidzI3YQ==
# # //tfs-srv:8080/tfs/TNC_ITC/xeye/_packaging/test-design/npm/registry/:email=npm requires email to be set but doesn't use the value
# # //tfs-srv:8080/tfs/TNC_ITC/xeye/_packaging/test-design/npm/:username=TNC_ITC
# # //tfs-srv:8080/tfs/TNC_ITC/xeye/_packaging/test-design/npm/:_password=N2hqZW10dG0ycDJxZ3JmNHd3cHRkMjc1b2hlNWN2eDRxbXJvNzZsYnRmcGp4cWxidzI3YQ==
# # //tfs-srv:8080/tfs/TNC_ITC/xeye/_packaging/test-design/npm/:email=npm requires email to be set but doesn't use the value
# # ; end auth token
# registry=http://172.16.1.213:8081/nexus/repository/npm-host/
# //172.16.1.213:8081/nexus/repository/npm-host/:_auth=aW90OlYzJCZnblkyUVJrdzFuZUBKTg==
# email=arman.alighanbary@gmail.com
# always-auth=true