@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}
@font-face {
  font-family: 'Yekan';
  src: url('./assets/fonts/YekanBakhFaNum.ttf') format('truetype');
}
:root {
  --primary180: #02121c;
  --primary170: #031b2a;
  --primary160: #042438;
  --primary150: #052d46;
  --primary140: #063654;
  --primary130: #073f62;
  --primary110: #09517e;
  --primary100: #0a5a8c;
  --primary90: #236b97;
  --primary80: #3b7ba3;
  --primary70: #548baf;
  --primary60: #6c9cba;
  --primary50: #84acc5;
  --primary40: #9dbdd1;
  --primary30: #b6cedd;
  --primary20: #cedee8;
  --primary10: #e7eff3;
  --radius: 0.5rem;
}

@layer base {
  body {
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
}
.mostly-customized-scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 5px;
  gap: 5rem;
}

.mostly-customized-scrollbar::-webkit-scrollbar-thumb {
  background: #cac4d0;
  margin-top: 5px;
  background-clip: padding-box;
  border-radius: 9999px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #23232329;
}
